[user]
  name = Hara Masaki
  email = hara_masaki@nintendo.co.jp

[color]
diff = auto
status = auto
branch = auto
interactive = auto

[core]
	editor = vim -c \"set fenc=utf-8\"
[fetch]
	prune = true

[alias]
  co = checkout
  cm = commit
  b  = branch
  ba = branch -a
  bd = branch -d
  s  = status
  d  = diff
  dc = diff --cached
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  f  = fetch
  l  = log
  lo = log --oneline
  a  = add
